.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */

.App {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}

/* Add more styles as needed */

.about-content {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  max-width: 80%;
  border-radius: 20%; /* Optional: Add a border radius for rounded corners */
}

.text-container {
  flex: 2;
}
.summary {
  background-color: #83837a;
  padding: 0 12px 0 3px;
}
